.home-body-container {
  display: flex;
  height: 90vh;
}

aside {
  max-height: 90vh;
}

.detail-container {
  max-height: 90vh;
  min-height: 90vh;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .detail-container {
    overflow-y: scroll;
    width: 100vw;
  }
}

.main-container {
  width: 100%;
}

@media (min-width: 756px) {
  .main-container {
    width: 90%;
    padding: 40px;
  }
}

.video-container {
  width: 100%;
  height: 230px;
}

@media (min-width: 576px) {
  .video-container {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .video-container {
    height: 500px;
  }
}

.saved-title {
  font-size: 15px;
  font-family: Roboto;
  color: #313131;
  padding-left: 18px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .saved-title {
    font-size: 20px;
  }
}

.like-dislike-save-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .like-dislike-save-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.like-dislike-save-container ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.view-and-time li {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  color: #94a3b8;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 768px) {
  .-and-time li {
    font-size: 16px;
  }
}

.like-dislike li {
  font-size: 15px;
  list-style-type: none;
  margin-left: 15px;
}

.like-dislike li button {
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #909090;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.like-dislike li button p {
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #909090;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.like-dislike li button:hover {
  color: #3b82f6;
}

.like-dislike li button p:hover {
  color: #3b82f6;
}

@media (min-width: 768px) {
  .like-dislike li button {
    font-size: 18px;
    cursor: pointer;
  }
}

.detail-container hr {
  width: 100%;
  border-width: 2px;
}

.description-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.description-container img {
  width: 50px;
  margin-left: 15px;
}

.description-container div {
  margin-left: 20px;
}

.description-container div p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #64748b;
  font-weight: 500;
}

@media (min-width: 768px) {
  .description-container div p {
    font-size: 15px;
  }
}

.description {
  /* border: 2px solid red; */
  font-size: 14px;
  padding: 15px;
  color: #909090;
  font-weight: 500;
  line-height: 20px;
}

@media (min-width: 768px) {
  .description {
    font-size: 15px;
  }
}

.loader {
  height: 90vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveVideo-btn {
  display: flex;
  align-items: center;
  color: #909090;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
}

.save-icon {
  font-size: 25px;
}
